div.app-home {
    display: flex;
    flex-direction: column;
    color: #66FF66;
}

div.header-div {
    display: flex;
    flex-direction: column;
}

div.content-div {
    display: flex;
    flex-direction: column;
}