.blinking-cursor {
	-webkit-animation: 1s blink step-end infinite;
	-moz-animation: 1s blink step-end infinite;
	-ms-animation: 1s blink step-end infinite;
	-o-animation: 1s blink step-end infinite;
	animation: 1s blink step-end infinite;
}

@keyframes blink {
	from, to {
		color: transparent;
	}
	50% {
		color: #66FF66;
	}
}

@-moz-keyframes blink {
	from, to {
		color: transparent;
	}
	50% {
		color: #66FF66;
	}
}

@-webkit-keyframes blink {
	from, to {
		color: transparent;
	}
	50% {
		color: #66FF66;
	}
}

@-ms-keyframes blink {
	from, to {
		color: transparent;
	}
	50% {
		color: #66FF66;
	}
}

@-o-keyframes blink {
	from, to {
		color: transparent;
	}
	50% {
		color: #66FF66;
	}
}

div.component-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 4vmin;
}