body {
  margin: 0;
  font-family: AnonymousPro;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'AnonymousPro';
  src: local('AnonymousPro'), url(./fonts/AnonymousPro-Regular.ttf) format('truetype');
}